In [1]:
##import libraries
import pandas as pd
import string
import scipy
from scipy.io import arff
import sklearn

In [2]:
df1=pd.read_csv("True Clean.csv")
df2=pd.read_csv("Fake Clean.csv")

In [49]:
df1.head(5)

,title,text,Label,Unnamed: 3
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,Real,NaN
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,Real,NaN
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,Real,NaN
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,Real,NaN
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,Real,NaN

In [50]:
df2.head(5)

,title,text,label,Unnamed: 3
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,fake,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,fake,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",fake,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",fake,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,fake,NaN

In [39]:
#df1_rel=df1["text"]
#df2=df1.loc[:, 'text']
Real_Newdata1=df1[["text"]]
Fake_Newdata1=df2[["text"]]

In [40]:
Real_Newdata1.head(5)

                                                text
0  WASHINGTON (Reuters) - The head of a conservat...
1  WASHINGTON (Reuters) - Transgender people will...
2  WASHINGTON (Reuters) - The special counsel inv...
3  WASHINGTON (Reuters) - Trump campaign adviser ...
4  SEATTLE/WASHINGTON (Reuters) - President Donal...

In [41]:
Fake_Newdata1.head(5)

                                                text
0  Donald Trump just couldn t wish all Americans ...
1  House Intelligence Committee Chairman Devin Nu...
2  On Friday, it was revealed that former Milwauk...
3  On Christmas day, Donald Trump announced that ...
4  Pope Francis used his annual Christmas Day mes...

In [42]:
##data preprocessing 


# Drop rows with missing values
Real_Newdata1.dropna(inplace=True)
Fake_Newdata1.dropna(inplace=True)
#removing duplicates
Real_Newdata1.drop_duplicates(inplace=True)
Fake_Newdata1.drop_duplicates(inplace=True)

C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\328038131.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1.dropna(inplace=True)
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\328038131.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fake_Newdata1.dropna(inplace=True)
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\328038131.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1.drop_duplicates(inplace=True)
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\328038131.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fake_Newdata1.drop_duplicates(inplace=True)

In [43]:
##comvert to lowercase
#df1_rel["text"] = df1_rel["text"].astype(str).str.lower()
Real_Newdata1['text']= Real_Newdata1['text'].str.lower()
Fake_Newdata1['text']=Fake_Newdata1['text'].str.lower()

C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\241303333.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1['text']= Real_Newdata1['text'].str.lower()
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\241303333.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fake_Newdata1['text']=Fake_Newdata1['text'].str.lower()

In [57]:
print(Real_Newdata1.head())

                                                text Label
0  washington (reuters) - the head of a conservat...  Real
1  washington (reuters) - transgender people will...  Real
2  washington (reuters) - the special counsel inv...  Real
3  washington (reuters) - trump campaign adviser ...  Real
4  seattle/washington (reuters) - president donal...  Real

In [58]:
print(Fake_Newdata1.head())

                                                text label
0  donald trump just couldn t wish all americans ...  fake
1  house intelligence committee chairman devin nu...  fake
2  on friday, it was revealed that former milwauk...  fake
3  on christmas day, donald trump announced that ...  fake
4  pope francis used his annual christmas day mes...  fake

In [44]:
#Removal of punctuations
def removePunctuation(text):
    punctuation=string.punctuation
    return text.translate(str.maketrans("","",punctuation))

Real_Newdata1["text"]=Real_Newdata1["text"].apply(lambda x:removePunctuation(x))
Fake_Newdata1['text']=Fake_Newdata1['text'].apply(lambda x:removePunctuation(x))

C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\3587119877.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1["text"]=Real_Newdata1["text"].apply(lambda x:removePunctuation(x))
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\3587119877.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fake_Newdata1['text']=Fake_Newdata1['text'].apply(lambda x:removePunctuation(x))

In [60]:
Real_Newdata1.head(5)

                                                text Label
0  washington reuters  the head of a conservative...  Real
1  washington reuters  transgender people will be...  Real
2  washington reuters  the special counsel invest...  Real
3  washington reuters  trump campaign adviser geo...  Real
4  seattlewashington reuters  president donald tr...  Real

In [61]:
Fake_Newdata1.head(5)

                                                text label
0  donald trump just couldn t wish all americans ...  fake
1  house intelligence committee chairman devin nu...  fake
2  on friday it was revealed that former milwauke...  fake
3  on christmas day donald trump announced that h...  fake
4  pope francis used his annual christmas day mes...  fake

In [45]:
##Removal of stopwords
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")

list_stopwords=set(stopwords.words("english"))
def removeStopwords(text):
    return  " ".join([word for word in text.split() if word not in list_stopwords])

Real_Newdata1["text"]=Real_Newdata1["text"].apply(lambda x:removeStopwords(x))
Fake_Newdata1["text"]=Fake_Newdata1["text"].apply(lambda x:removeStopwords(x))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Masini\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\1278315641.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1["text"]=Real_Newdata1["text"].apply(lambda x:removeStopwords(x))
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\1278315641.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fake_Newdata1["text"]=Fake_Newdata1["text"].apply(lambda x:removeStopwords(x))

In [42]:
Real_Newdata1.head(5)

                                                    text Label
0      washington reuters head conservative republica...  Real
1      washington reuters transgender people allowed ...  Real
2      washington reuters special counsel investigati...  Real
3      washington reuters trump campaign adviser geor...  Real
4      seattlewashington reuters president donald tru...  Real
...                                                  ...   ...
21412  brussels reuters nato allies tuesday welcomed ...  Real
21413  london reuters lexisnexis provider legal regul...  Real
21414  minsk reuters shadow disused sovietera factori...  Real
21415  moscow reuters vatican secretary state cardina...  Real
21416  jakarta reuters indonesia buy 11 sukhoi fighte...  Real

[21192 rows x 2 columns]

In [63]:
Fake_Newdata1.head(5)

                                                text label
0  donald trump wish americans happy new year lea...  fake
1  house intelligence committee chairman devin nu...  fake
2  friday revealed former milwaukee sheriff david...  fake
3  christmas day donald trump announced would bac...  fake
4  pope francis used annual christmas day message...  fake

In [46]:
##Removing special characters
import re
def remove_Specailcharacters(text):
    text=re.sub('[^a-zA-Z0-9]'," ",text)
    text=re.sub("\s"," ",text)
    return text

Real_Newdata1["text"]=Real_Newdata1["text"].apply(lambda x:remove_Specailcharacters(x))

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\2432066521.py:5: SyntaxWarning: invalid escape sequence '\s'
  text=re.sub("\s"," ",text)
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\2432066521.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1["text"]=Real_Newdata1["text"].apply(lambda x:remove_Specailcharacters(x))

In [47]:
##lematization
#import nltk
from nltk.tokenize import word_tokenize ##for getting tokens out of words
from nltk.stem import WordNetLemmatizer  ##for converting the words to their root form
nltk.download('punkt')
nltk.download('wordnet')

# Initialize the WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def lemmatize_text(text):
    # Tokenize the text into words
    tokens = word_tokenize(text)
       # Lemmatize each word in the text
    lemmatized_text = [lemmatizer.lemmatize(word) for word in tokens]
    # Join the lemmatized words back into a single string
    lemmatized_text = ' '.join(lemmatized_text)
    return lemmatized_text

# Perform lemmatization
Real_Newdata1["text"]=Real_Newdata1["text"].apply(lambda x:lemmatize_text(x))
Fake_Newdata1["text"]=Fake_Newdata1["text"].apply(lambda x:lemmatize_text(x))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Masini\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Masini\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\3197580538.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1["text"]=Real_Newdata1["text"].apply(lambda x:lemmatize_text(x))
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\3197580538.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fake_Newdata1["text"]=Fake_Newdata1["text"].apply(lambda x:lemmatize_text(x))

In [48]:
Real_Newdata1

                                                    text
0      washington reuters head conservative republica...
1      washington reuters transgender people allowed ...
2      washington reuters special counsel investigati...
3      washington reuters trump campaign adviser geor...
4      seattlewashington reuters president donald tru...
...                                                  ...
21412  brussels reuters nato ally tuesday welcomed pr...
21413  london reuters lexisnexis provider legal regul...
21414  minsk reuters shadow disused sovietera factory...
21415  moscow reuters vatican secretary state cardina...
21416  jakarta reuters indonesia buy 11 sukhoi fighte...

[21192 rows x 1 columns]

In [50]:
Fake_Newdata1.head(5)

                                                text
0  donald trump wish american happy new year leav...
1  house intelligence committee chairman devin nu...
2  friday revealed former milwaukee sheriff david...
3  christmas day donald trump announced would bac...
4  pope francis used annual christmas day message...

In [51]:
# Inserting target columns
Real_Newdata1["class"] = 1
Fake_Newdata1["class"] = 0

C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\2167047805.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1["class"] = 1
C:\Users\Masini\AppData\Local\Temp\ipykernel_15156\2167047805.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fake_Newdata1["class"] = 0

In [52]:
# Merging real and fake news datasets
df = pd.concat([Real_Newdata1, Fake_Newdata1], ignore_index=True)

In [53]:
df.shape

(38636, 2)

In [54]:
df.head(5)

                                                text  class
0  washington reuters head conservative republica...      1
1  washington reuters transgender people allowed ...      1
2  washington reuters special counsel investigati...      1
3  washington reuters trump campaign adviser geor...      1
4  seattlewashington reuters president donald tru...      1

In [55]:
df.tail(5)

                                                    text  class
38631  21st century wire say world stage men woman me...      0
38632  randy johnson 21st century wirethe majority ma...      0
38633  tune alternate current radio network acr anoth...      0
38634  21st century wire say new front opened long ba...      0
38635  21st century wire say far away guess want run ...      0

In [56]:
#reshuffling the dataset
df = df.sample(frac = 1)

In [57]:
df.head(5)

                                                    text  class
30473  example empty mostly empty nfl stand across am...      0
10188  de moines iowa reuters liberal group allied wh...      1
28728  donald trump briefly surrounded secret service...      0
34594  well well well truth come main stream medium l...      0
18380  vienna reuters austria social democratic spo c...      1

In [58]:
#checking for null records
df.isnull().sum()

text     0
class    0
dtype: int64

In [60]:
# Spliting dataset into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df["text"], df["class"], test_size=0.2, random_state=42)

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer  

# Converting text into numerical form using TF-IDF
vectorizer = TfidfVectorizer(max_features=5000)
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

In [63]:
# Training using Random Forest classifier
from sklearn.ensemble import RandomForestClassifier  #mporting Random Forest
from sklearn.metrics import accuracy_score, classification_report

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_tfidf, y_train)

# Making predictions
y_pred = model.predict(X_test_tfidf)

In [66]:
# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:}")
print("Classification Report:\n", classification_report(y_test, y_pred))

Model Accuracy: 0.9974120082815735
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      3503
           1       1.00      1.00      1.00      4225

    accuracy                           1.00      7728
   macro avg       1.00      1.00      1.00      7728
weighted avg       1.00      1.00      1.00      7728

In [67]:
from sklearn.metrics import confusion_matrix

confusion_matrix = confusion_matrix(y_test, y_pred)

In [68]:
print(confusion_matrix)

[[3488   15]
 [   5 4220]]